.container {
  width: 1000px;
  margin: 30px auto;
  background-color: #ddd;

  display: grid;

  // Using min/max-content minmax()
  //grid-template-rows: repeat(2,150px);
  //grid-template-rows:repeat(2,min-content);
  //minmax() function has 2 values, grid will make sure that the grid will stay in between those 2 values
  //grid-template-rows: repeat(2,minmax(150px,min-content));

  //grid-template-columns: max-content 1fr 1fr min-content;
  //max-content will calculate the space of the content inside the grid cell (text)

  //grid-template-columns: minmax(200px, 300px) repeat(3,1fr);

  // Using auto-fit and auto-fill
  grid-template-rows: repeat(2, minmax(150px, min-content));
  // auto-fill will create automatically the grid rows or columns needed based on the grid width or height ex 1000px/100px = 10 columns
  grid-template-columns: repeat(auto-fill, 100px);
  // creates tracks needed, and leaves the empty spaces and collapses them/ allows the use of minmax function
  //grid-template-columns: repeat(auto-fit,100px);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  .item {
    padding: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered;

    &--1 {
      background-color: orangered;
    }
    &--2 {
      background-color: yellowgreen;
    }
    &--3 {
      background-color: blueviolet;
    }
    &--4 {
      background-color: palevioletred;
    }
    &--5 {
      background-color: royalblue;
    }
    &--6 {
      background-color: goldenrod;
    }
    &--7 {
      background-color: crimson;
    }
    &--8 {
      background-color: darkslategray;
    }
  }
}
